body {
    background:#F2B4AE;
    font-family:Arial, Helvetica, sans-serif;

}

.assignments {
    display:flex;
    flex-wrap:wrap;
}

.assignment{
    width:30%;
    padding:10px;
    margin:10px;
    margin-bottom: 30px;
    background:#F28095;
    border-radius: 5px;
    box-shadow: 5px 8px #A6495A;
}

.assignment img {
    width:200px;
    border: 2px solid #A6495A;
    margin-right: 20px;
    border-radius: 5px;
    display: block;
    margin:auto;
}

h1 {
    color:#A6495A;
    text-align:center;
}

a{
    text-decoration:none;
    color:#A6495A;
}

.assignment a:hover {
    color: pink;
}